[Unit]
Descriprion=Classic SIEM Daily Orchestrator
After=network.target

[Service]
Type=oneshot
ExecStart=/home/developer/classic-siem/orchestrator.sh
User=developer
Group=developer

[Install]
WantedBy=multi-user.target
